<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Siddhi-Execution-Tokenizer-Test-Suite">
    <test name="Siddhi-execution-tokenizer-tests" enabled="true" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2.extension.siddhi.execution.tokenizer.aggregate.TestCaseOfTokenizerAggregateFunction"/>
            <class name="org.wso2.extension.siddhi.execution.tokenizer.function.TestCaseOfTokenizerFunction"/>
            <class name="org.wso2.extension.siddhi.execution.tokenizer.streamfunction.TestCaseOfTokenizerStreamFunction"/>
            <class name="org.wso2.extension.siddhi.execution.tokenizer.streamprocessor.TestCaseOfTokenizerStreamProcessor"/>
            <class name="org.wso2.extension.siddhi.execution.tokenizer.window.TestCaseOfTokenizerWindow"/>
        </classes>
    </test>
</suite>